---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingComponent, { type Plan } from "@components/pricing.astro";
import Faq from "@components/faq.astro";
import ComparePricing from "@components/compare-pricing.astro";

const plans: Plan[] = [
  {
    name: "Starter",
    price: "500",
    desc: "Up to 800 Tickets",
    color: "indigo",
    popular: false,
    features: [
      "Lifetime free",
      "Up to 800 Tickets",
      "Ticket Triage",
      "Password Reset Workflow",
      "MFA Reset Workflow",
      "Basic Integrations",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Growth",
    price: "700",
    desc: "Up to 1500 Tickets",
    popular: true,
    color: "orange",
    features: [
      "All Free Features",
      "Up to 1500 Tickets",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Pro",
    price: "1000",
    desc: "Up to 3000 Tickets",
    popular: false,
    color: "purple",
    features: [
      "All Pro Features",
      "Up to 3000 Tickets",
      "SSO Integration",
      "Dedicated Account Manager",
      "Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {plans.map((item) => <PricingComponent plan={item} />)}
    </div>
    <!--<ComparePricing />-->
    <Faq />
  </Container>
</Layout>
